@import url("https://at.alicdn.com/t/font_1574589_4k8i544mng6.css");
@import "reset";

/* 浮动开始 */
.fl, .pull-left{
	float: left;
}
.fr, .pull-right{
	float: right;
}
.clearfix::before, .clearfix::after {
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.clearfix:after {clear: both;}
.clearfix {clear: both;zoom: 1;}
/* 浮动结束 */
